EMAIL_HOST=
EMAIL_PASSWORD=
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RAZORPAY_PUBLIC=
RAZORPAY_SECRET=
FRONTEND_URL=
GOOGLE_SECRET=
GOOGLE_CLIENT=

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=